@charset "utf-8";
html,body,nav ,ul,header,div{
    margin:0;
    padding:0;
}
ul li{
    list-style-type: none;
}
img {
    margin :0;
    padding: 0;
    border: none;
}
.wrapper{
    margin: 0 auto 0 auto;
    width :900px;
    background-color: blue;
}
.main{
    float :left;
    margin: 0 20px 20px 0; 
    background-color: brown;
}
.sidebar{
    float :left;
    margin : 0 0 20px 0;
    width:260px;
    background-color: aqua;

}
footer{
    clear: both;
}

header h1{
    margin:10px 0 10px 0;
    padding:0;
    width:176px;
    height :59px;
    text-indent: -5000px;
    background: #fff url(.../images/logo.png) no-repeat;

}
header div{
    font-size:0;
}
header nav ul{
    overflow: hidden;
    margin:1px 0 20px 0;
    display: flex;
    justify-content:space-around;
   

}
header nav ul li{
/* list-style-type: none; */
background-color: #d17109;
float:left;
}
header nav ul li a{
    display: block;
    padding :16px 0 16px 0 ;
    width: 225px;
    text-align : center;
    color:#fff;
    text-decoration:none;    
}

.main{
    padding-left:20px;
    width:600px;
    

}
.sidebar nav ul li{
    margin:10px 0 10px 0;
    border-bottom:1px  solid #d17109;
}
.sidebar nav ul li a{
display:block;
padding :10px 0 10px 0;
width : 260px;
color:#d17109;
text-decoration: none;;

}
.sidebar .banner_ad {
    margin :0;
    padding:0;
    list-style-type: none;
    font-size: 0;
}

footer{
    margin-left:20px;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    text-align: center;
    padding-top: 10px;
    border-top:1px solid #993333;
}